html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; 
    display: block; 
}

#navbarToggleExternalContent a{
    color: inherit;
}

#main-content{
    position: relative;
}

#bl-panel{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 3px;
    margin-bottom: 3px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#br-panel{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 3px;
    margin-bottom: 3px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.tool-icon{
    background-color: #dddddd99;
    border-radius: 10px;
    padding: 3px;
    margin: 2px;
}

.tool-icon > img{
    height: 36px;
    width: 36px;
}

.tool-label{
    background-color: #dddddd99;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    margin: 2px 2px 2px 7px;
    height: 30px;
    font-family: monospace;
    vertical-align: middle;    
}

.tool-label p{
    text-align: center;
    vertical-align: middle;
    height: 100%;
    position: relative;
}

.tool-icon-bd{
    border: 1px solid #999999;
}

.tool-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#toolbar{
}


#delete-tool{
    
}

#delete-tool > img{
    height: 36px;
    width: 36px;
}

#toolbar .tool{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.2s ease-out;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#toolbar.open .tool{
    visibility: visible;
    height: auto;
    opacity: 1;
}

#toolbar .tool.active{
    visibility: visible;
    height: auto;    
    opacity: 1;
}


#cursor-img{
    display: none;
}

#roller-img{
    display: none;
}
#pin-img{
    display: none;
}

#top-panel{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 3px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#infobar input{
    max-width: 120px;
}

#infobar > form{
    display: none;
}

#infobar > form.active{
    display: flex;
}

#solve-btn{
}

#result-btn{
}

#scale{
    height: 10px;
    width: 100px;
    border-style: solid;
    border-color: #555555;
    border-width: 0px 3px 3px 3px;
    text-align: center;
    vertical-align: top;
}
#scale > p{
    font-family: monospace;
    position: relative;
    top: -13px;
}

.popover{
    max-height: 60%;
    max-width: 100%;
    display:flex;
    background-color: rgba(255, 255, 255, 0.75);
}

.popover-body{
    overflow-y: scroll;
    overflow-x: scroll;
}

.popover-body .table-sm td, .popover-body .table-sm th {
    padding: .3rem .8rem;
}

.popover-body .table-sm th{
    text-align: center;
    background-color: #DDD;    
}


#width-input.invalid, #txt-export.invalid{
    border-color: #dc3545;    
}